<!-- /.content-wrapper -->


<!-- <footer class="main-footer" >
    <strong>Slegal 2022.</a></strong>
    
  </footer> -->
<script>
    $(function () {
     
  $("#example1").DataTable({
    dom: 'Bfrtip',
    "language": {
   "url": "https://cdn.datatables.net/plug-ins/1.12.1/i18n/fr-FR.json"
    },
    "responsive": true, "lengthChange": false, "autoWidth": false,
    "buttons": [
            "excel",
            "csv",
            "colvis"
           
        ]
  }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
  // $('#example2').DataTable({
  //   "paging": true,
  //   "lengthChange": false,
  //   "searching": false,
  //   "ordering": true,
  //   "info": true,
  //   "autoWidth": false,
  //   "responsive": true,
  // });
});
</script>
</div>
<!-- ./wrapper


<script src="<%= base_url %>plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="<%= base_url %>plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- DataTables  & Plugins -->
<script src="<%= base_url %>plugins/datatables/jquery.dataTables.min.js"></script>
<script src="<%= base_url %>plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="<%= base_url %>plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="<%= base_url %>plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="<%= base_url %>plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="<%= base_url %>plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
<script src="<%= base_url %>plugins/jszip/jszip.min.js"></script>
<script src="<%= base_url %>plugins/pdfmake/pdfmake.min.js"></script>
<script src="<%= base_url %>plugins/pdfmake/vfs_fonts.js"></script>
<script src="<%= base_url %>plugins/datatables-buttons/js/buttons.html5.min.js"></script>
<script src="<%= base_url %>plugins/datatables-buttons/js/buttons.print.min.js"></script>
<script src="<%= base_url %>plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
<!-- AdminLTE App -->
<script src="<%= base_url %>dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="<%= base_url %>dist/js/demo.js"></script>

<!-- Bootstrap 4 -->
<script src="<%=base_url%>plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Select2 -->
<script src="<%=base_url%>plugins/select2/js/select2.full.min.js"></script>
<!-- Bootstrap4 Duallistbox -->
<script src="<%=base_url%>plugins/bootstrap4-duallistbox/jquery.bootstrap-duallistbox.min.js"></script>
<!-- InputMask -->
<script src="<%=base_url%>plugins/moment/moment.min.js"></script>
<script src="<%=base_url%>plugins/inputmask/jquery.inputmask.min.js"></script>
<!-- date-range-picker -->
<script src="<%=base_url%>plugins/daterangepicker/daterangepicker.js"></script>
<!-- bootstrap color picker -->
<script src="<%=base_url%>plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js"></script>
<!-- Tempusdominus Bootstrap 4 -->
<script src="<%=base_url%>plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
<!-- Bootstrap Switch -->
<script src="<%=base_url%>plugins/bootstrap-switch/js/bootstrap-switch.min.js"></script>
<!-- BS-Stepper -->
<script src="<%=base_url%>plugins/bs-stepper/js/bs-stepper.min.js"></script>
<!-- dropzonejs -->
<script src="<%=base_url%>plugins/dropzone/min/dropzone.min.js"></script>
<script>
 
</script>
</body>
</html>