
  <link href="https://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
  <link rel="stylesheet" href="<%=base_url%>style.css?v2">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Ajouter une catégorie</h1>
            </div><!-- /.col -->
            
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
            <!-- Small boxes (Stat box) -->
            
            <!-- /.row -->
            <!-- Main row -->
            
            <!-- /.row (main row) -->
            </div><!-- /.container-fluid -->
            <div class="container-fluid">
    
    
    
    
    
    
        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
            
            <div class="row">
                <div class="col-12">
                
                        <!-- general form elements -->
                        <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Ajouter une catégorie</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <form  style="background: #fff;padding: 20px;">
                          
                            <div class="mb-3 mt-3">
                               <label for="">Nom:</label>
                               <input type="text" class="form-control"  placeholder="" id="catagory" value="<%=cat.title%>">
                               <p><small>Le nom est la façon dont il apparaît sur votre site.</small></p>
                            </div>
                           
                            <!-- <div class="">
                                <label for="">Catégorie de parents:</label>
                               <div style="position:relative;">
                                  <input type="text" onkeydown="return false;" readonly  class="form-control" id="justAnotherInputBox" placeholder="Type to filter"/>
                                  
                                  <span style="position: absolute;right: 16px;top: 5px;"><i class="fa-solid fa-angle-down"></i></span>
                               </div>
                            </div> -->
                            <!-- <hr> -->
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">Télécharger</span>
                                </div>
                                <div class="custom-file">
                                  <input type="file" class="custom-file-input" id="image">
                                  <label class="custom-file-label" for="inputGroupFile01">Choisir le fichier</label>
                                </div>
                              </div>
                            <!-- <div class="mb-3 ">
                               <div class="row">
                                <label for="">Image:</label>
                                  <div class="col-lg-6 col-md-12 col-sm-12 col-12 mb-3">
                                     <input type="file" id="image"/>
                                  </div>
                                
                               </div>
                            </div> -->
                            <div class="mb-3 ">
                                <div class="row">
                                
                                   <div class="col-lg-6 col-md-12 col-sm-12 col-12 mb-3">
                                    
                                    
                                    <%if(cat.is_parent){ %>
                                        <label for="c1">  <input type="radio" name="IS_parent" id="IS_parent" value="true" onChange="activeprice()" checked/>Is Parent</label>
                                        <label for="c1">  <input type="radio" name="IS_parent" id="IS_parent" value="false" onChange="activeprice()" />IS Leaf</label>
                                        <% } else {%>
                                            <label for="c1">  <input type="radio" name="IS_parent" id="IS_parent" value="true" onChange="activeprice()" />Is Parent</label>
                                            <label for="c1">  <input type="radio" name="IS_parent" id="IS_parent" value="false" onChange="activeprice()" checked/>IS Leaf</label>
                                            <% } %>
                                   </div>
                                 
                                </div>
                             </div>
                             <div class="mb-3 mt-3">
                                <label for="">Price:</label>
                                 <%if(cat.is_parent){ %>
                                    <input type="number" class="form-control"  placeholder="" id="price" disabled>
                                        <% } else {%>
                                            <input type="number" class="form-control"  placeholder="" id="price" value="<%=cat.price%>">
                                            <% } %>
                                
                               
                             </div>
                            <input type="button" value="Ajouter une nouvelle catégorie" class="btn btn-primary" onclick="handlesubmit()"/>
                         </form>
                        </div>
                       
                <!-- /.card -->
    
            
                <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </section>
        <!-- /.content -->
        
    
    
    <script>
        $(function () {
        $("#example1").DataTable({
            "responsive": true, "lengthChange": false, "autoWidth": false,
            "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
        }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
        $('#example2').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,
        });
        });
        function handlesubmit(){
            let checkboxes = document.querySelectorAll('input[name="IS_parent"]:checked');
            let values = [];
            checkboxes.forEach((checkbox) => {
                values.push(checkbox.value);
            });
            var is_parent=values;
            var id="<%=cat._id%>"
          var commissions = $('#commissions').val();
            var mastercatagory = $('#justAnotherInputBox').val();
            var price=$("#price").val();
            var catagory=$('#catagory').val();
        //    if(mastercatagory==""){
        //     toastr.error("Le titre est requis");
        //     return false
        //    }
            if(catagory==""){
            toastr.error("Un code couleur est requis");
            return false
           }

           let formdata=new FormData();
           formdata.append('mastercatagory',mastercatagory);
           formdata.append('catagory',catagory);
           formdata.append("is_parent",is_parent)
           formdata.append("price",price)
           formdata.append("id",id)
        const files = document.getElementById("image");
            for(let i =0; i < files.files.length; i++) {
                formdata.append("image", files.files[i]);
            }
       
           
            var data = {
                'catagory': catagory,
                'mastercatagory': mastercatagory
            };
            var baseurl= "<%= base_url %>";
            var url= baseurl+"updatecatagoryonline";
           

            const requestOptions = {
            method: 'POST',
            
            body: formdata
        };
        fetch(url, requestOptions)
        .then(response => response.json())
        .then(data => {
            if(data.status){
                toastr.success(data.message);
                window.location.reload();
            }else{
                toastr.error(data.message);
            }
        })
            }
    </script>
    
    
            </div>
        
        </section>
    
        <!-- /.content -->
    </div>
   
    <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="<%=base_url%>icontains.js?v2"  type="text/javascript"></script>
    <script src="<%=base_url%>comboTreePlugin.js?v2"  type="text/javascript"></script>
    <script type="text/javascript">
        var cats=`JSON.stringify(<%=cats%>`;
        var SampleJSONData=<%- JSON.stringify(cats) %>;;

     
       
       
       
       var comboTree1, comboTree2;
       
       jQuery(document).ready(function($) {
       
               comboTree1 = $('#justAnInputBox').comboTree({
                   source : SampleJSONData,
                   isMultiple: true,
                   cascadeSelect: false
               });
       
               comboTree3 = $('#justAnInputBox1').comboTree({
                   source : SampleJSONData,
                   isMultiple: true,
                   cascadeSelect: true
               });
       
       
               comboTree2 = $('#justAnotherInputBox').comboTree({
                   source : SampleJSONData,
                   isMultiple: false
               });
       });
       
       
    </script>
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-36251023-1']);
        _gaq.push(['_setDomainName', 'jqueryscript.net']);
        _gaq.push(['_trackPageview']);
        
        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    function activeprice(){
        let checkboxes = document.querySelectorAll('input[name="IS_parent"]:checked');
            let values = [];
            checkboxes.forEach((checkbox) => {
                values.push(checkbox.value);
            });
            
        const IS_parent=document.getElementsByName("IS_parent").value;
        if(values=="true"){
            $("#price").attr("disabled",true);
        }else{
            $("#price").attr("disabled",false);
        }
    }
     </script>