<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body style="font-family: sans-serif;">

<table style="width: 450px;margin: auto;border: 1px solid #ccc;padding: 30px 20px;margin-top:100px;">
<tr style="text-align:center;">
  <td colspan=75% style="padding-bottom:25px;"><a href="#"><img src="<%=base_url%>/static/public/slegal_logo.png"  style="border-bottom: 3px solid #ddd;border-radius:5px;"/></a></td>
</tr>
  <tr>
    <td><strong><%= invoice.payment_amount %> €</strong></td>
  </tr>
  <tr>
    <td><%= invoice.date_of_transaction.toISOString().split("T")[0] %>   <span><%= invoice.date_of_transaction.toISOString().split("T")[1].split("Z")[0]  %></span></td>
  </tr>
  <tr>
    <td style="padding-top:10px;padding-bottom:5px;">Numéro du récépissé </td>
    <td style="text-align:right;"><%= invoice.transaction_id%></td>
  </tr>
  <tr>
    <td>Mode de paiement                                </td>
    <td style="text-align:right;"><%= invoice.mode_of_payment%></td>
  </tr>
  <tr >
    <td style="text-align:left;padding-top:20px;padding-bottom:10px;"><strong>Paquet </strong><p style="margin-top:0"> <%= invoice.name_of_package%>     </p>  </td>
    <td style="text-align:right;padding-top:20px;padding-bottom:10px;"><strong><%= invoice.payment_amount%> €</strong></td>
	
  </tr>
 
   <tr style="border-bottom: 1pt solid #000;">
    <td style="text-align:left;padding-top: 17px;padding-bottom: 16px;"><strong>Total </strong>  </td>
    <td style="text-align:right;padding-top: 15px;padding-bottom: 16px;"><strong><%= invoice.payment_amount%> € </strong> </td>
  </tr>
  <tr style="border-bottom: 1pt solid #000;">
    <td style="text-align:left;padding-top: 15px;padding-bottom: 15px;"><strong>Montant payé</strong></td>
    <td style="text-align:right;padding-top: 15px;padding-bottom: 15px;"><strong><%= invoice.payment_amount%> € </strong> </td>
  </tr>
</table>

</body>
</html>