

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
           
          </div><!-- /.col -->
        
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
       
        <div class="container-fluid">
  
  
  
  
   
  
      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title"> Revenus des avocats</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                  <div class="card-body">
                    <div  class="dataTables_filter">
                      <input type="text" id="client_name" class="form-control " placeholder="Indiquer le nom de l'avocat" aria-controls="example1" style="width: 300px;display:inline;padding:10px;margin-bottom: 3px;">
                     
                      <select id="status"class="form-control " placeholder="Sélectionnez la fréquence de paiement" aria-controls="example1" style="width: 300px;display:inline;margin-bottom: 3px;">
                        <option value="">Sélectionnez la fréquence de paiement</option>
                        <option value="monthly">Mensuel</option>
                        <option value="bimonthly">Bimensuel</option>
                      </select>
    
                    
                      <input type="button" id="search" class="btn btn-primary"  value="filtre" onclick="handlefilter()" style="width: 300px;display:inline;margin-bottom: 3px;"/>
                    </div>
                  <table id="example1" class="table table-bordered table-hover">
                    <thead>
                    <tr>
                      <th>ID</th>
                      <th>Nom de l'avocat </th>
                      <th>Total des services</th>
                      <th>Total des transactions </th>
                      <th>Commissions administratives  </th>
                      <th>Gains totaux</th>
                     <th>Montant à transférer</th>
                     <th>Fréquence de paiement</th>
                     <th>Mise à jour du transfert</th>
                    
                    </tr>
                    </thead>
                    <tbody>
                   
                   <% earningsdata.forEach((element,index) => { %>
                    <tr>
                     
                    <td><%= index+1 %></td>
                      <td><%= element[0].first_name %> <%= element[0].last_name %> </td>
                     <td><%= element[0].revenuedata[0]?.totaljobs?element[0].revenuedata[0]?.totaljobs:0.00 %> </td>
                      <td><%= element[0].revenuedata[0]?.totaljobs?element[0].revenuedata[0]?.totaljobs:0.00 %></td>
                      <td><%= element[0].revenuedata[0]?.total_commision_earned?element[0].revenuedata[0]?.total_commision_earned.toFixed(2):0.00 %>€</td>
                      <td><%= element[0].revenuedata[0]?.total_earning?element[0].revenuedata[0]?.total_earning.toFixed(2):0.00 %>€</td>
                      <td><%= element[0].totalpendingamount.toFixed(2) %>€</td>
                      <td><%= element[0].payment_frequency %></td>
                        <td> 
                        <form>
                        <div class="input-group">
                       
                          <input type="number" id="AL<%=element[0]._id%>" placeholder="Entrez le montant" class="form-control"/>
                          <span class="input-group-append">
                            <input type="button" class="btn btn-primary" 
                           value="Mise à jour"  onclick='updateamount("<%= element[0]._id %>")'/>
                          </span>
                         
                        </div>
                        </form>
                      </td>
                     
                      </td>
                      
                  
                    </tr>
                    <% }); %>
                
                    </tbody>
                  
                  
                  
                   
                  
                  </table>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
  
           
              <!-- /.card -->
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
      </section>
      <!-- /.content -->
    
  
  
  <script>
  
  function updateamount(id){
     var amount1=$('#AL'+id).val();
      var baseurl= "<%= base_url %>";
            // var url= baseurl+"updatepaidamount";
            var url= baseurl+"updatepaidamount/"+id+"/"+amount1;
            const requestOptions = {
            method: 'get'
            
            
        };
        fetch(url, requestOptions)
        .then(response => response.json())
        .then(data => {
          console.log(data)
            if(data.status){
                toastr.success(data.message);
                setTimeout(function(){
                    window.location.href = baseurl+"managelawyersincome";
                }, 2000);
            }else{
                toastr.error(data.message);
            }
        })
     
    }
    function handlefilter(){
      var client_name=$('#client_name').val();
      var status=$('#status').val();
      var baseurl= "<%=base_url%>";
      var url = "<%=base_url%>managelawyersincome?client_name="+client_name+"&status="+status;
  window.location.href = url;
    }
 
  
  </script>

  
  
  
        </div>
      
      </section>
   
    <!-- /.content -->
  </div>
  