<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>AdminLTE 3 | DataTables</title>

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="<%= base_url %>plugins/fontawesome-free/css/all.min.css">
  <!-- DataTables -->
  <link rel="stylesheet" href="<%= base_url %>plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" href="<%= base_url %>plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
  <link rel="stylesheet" href="<%= base_url %>plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="<%= base_url %>dist/css/adminlte.min.css">
</head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">
  <!-- Navbar -->
 
  <!-- /.navbar -->



  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
          
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
             
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
           
            <!-- /.card -->

            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Détails du paiement
                </h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="example1" class="table table-bordered table-hover">
                  <thead>
                 
                     
                   <td>Champ</td>
                  <td>Valeur</td>
                  </thead>
                  <tbody>
                    
                
                    <tr><td> ID de la demande </td><td><%= payment.transaction_id %></td></tr>
                    <tr><td>Utilisateu</td><td><%= payment.client_name %> </td></tr>
                    <tr><td>Avocat</td><td><%= payment.lawyer_name %> </td></tr>
                    <tr><td>Type de réservation</td><td><%= payment.mode_of_service %> </td></tr>
                   
                    <tr><td>Date et heure</td><td><%= payment.date_availed&&moment(new Date(payment.date_availed).toISOString().split("T")[0]).format("DD.MM.YYYY")?moment(new Date(payment.date_availed).toISOString().split("T")[0]).format("DD.MM.YYYY"):""  %> </td></tr>
                  
                    <tr><td>Montant</td><td><%= payment.payment_amount %> </td></tr>
                    <tr><td>Date et transactions</td><td><%=  payment.date_of_transaction&&moment(new Date(payment.date_of_transaction).toISOString().split("T")[0]).format("DD.MM.YYYY")?moment(new Date(payment.date_of_transaction).toISOString().split("T")[0]).format("DD.MM.YYYY"):""  %> </td></tr>
                    <tr><td>Mode de paiement</td><td><%= payment.mode_of_payment %> </td></tr>
                    <tr><td>Statut du paiement</td><td><%= payment.payment_status %> </td></tr>
                  
                  </tbody>
                
                
                
                 
                
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
 
</div>
<!-- ./wrapper -->


<!-- Page specific script -->


