<html>
    <head>

    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-success">
                        <strong>Alert! <%=name%></strong> Your subscription has expired, please renew the subscription.
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>